<style>
    .scrolling-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
    }

    .scrolling-images {
        display: flex;
        width: max-content;
        animation: scroll 30s linear infinite;
    }

    .image-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
    }

    .scrolling-images img {
        width: 100px;
        height: 100px;
    }

    .image-text {
        margin-top: 5px;
        text-align: center;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }
</style>
<div class="scrolling-container">
    <div class="scrolling-images">
        <!-- Image Set -->
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(1).jpg" alt="Image 1">
            <div class="image-text">World Health Organization</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(3).jpg" alt="Image 3">
            <div class="image-text">FAIMER</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(13).jpg" alt="Image 2">
            <div class="image-text">World Federation for <br>Medical Education</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(14).jpg" alt="Image 4">
            <div class="image-text">UNESCO</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(21).jpg" alt="Image 5">
            <div class="image-text">PM&DC Pakistan</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(12).jpg" alt="Image 6">
            <div class="image-text">ECFMG</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(2).jpg" alt="Image 7">
            <div class="image-text">GMC UK</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(11).jpg" alt="Image 8">
            <div class="image-text">European Medical Association</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(16).jpg" alt="Image 9">
            <div class="image-text">Education Ministry Kyrgyzstan</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(15).jpg" alt="Image 10">
            <div class="image-text">NMC India</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(10).jpg" alt="Image 11">
            <div class="image-text">Sri Lanka Medical Council</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(9).jpg" alt="Image 12">
            <div class="image-text">Egyptian Health Council</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(22).jpg" alt="Image 13">
            <div class="image-text">Jordan Medical Council</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(8).jpg" alt="Image 14">
            <div class="image-text">BMDC Bangladesh</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(7).jpg" alt="Image 15">
            <div class="image-text">Nepal Medical Council</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(6).jpg" alt="Image 16">
            <div class="image-text">Maldives Medical & Dental Council</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(5).jpg" alt="Image 17">
            <div class="image-text">IRIMC Iran</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(4).jpg" alt="Image 18">
            <div class="image-text">Kuwait Medical Association</div>
        </div>
        <div class="image-text-container">
            <img src="https://api.dsapsol.com/promos%20(30).jpg" alt="Image 19">
            <div class="image-text">UAE Medical Council</div>
        </div>
    </div>
</div>